@import "tailwindcss";

html {
  font-family: var(--font-sora), sans-serif;
}


@keyframes mj-fall {
  0% {
    transform: translate3d(0, -14px, 0) scale(1);
    animation-timing-function: cubic-bezier(.2,.7,.4,1);
  }
  70% {
    transform: translate3d(0, 160px, 0) scaleX(1.10) scaleY(0.90);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(.2,.8,.2,1);
  }
  85% {
    transform: translate3d(0, 118px, 0) scaleX(0.97) scaleY(1.03);
    animation-timing-function: cubic-bezier(.3,.6,.5,1);
  }
  93% {
    transform: translate3d(0, 160px, 0) scaleX(1.06) scaleY(0.94);
    animation-timing-function: cubic-bezier(.2,.8,.2,1);
  }
  100% {
    transform: translate3d(0, 160px, 0) scale(1);
  }
}

.mj-dot {
  height: 15px;
  width: 15px;
  border-radius: 9999px;
  opacity: 0.9;
  animation: mj-fall 1000ms forwards;
  will-change: transform;
  transform-origin: center bottom;
}



 